/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Mimi Davis
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set a base font size and font family */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  
  
  @media (max-width: 480px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    header img {
      margin-bottom: 10px;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  
    form {
      max-width: none;
    }
  
   
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #333;
      color: #fff;
    }
  
    
    #logo img {
      max-width: 100%;
      height: auto;
    }
  
    
    nav ul {
      display: flex;
      list-style: none;
    }
  
    nav li {
      margin-right: 20px;
    }
  
   
    main {
      padding: 20px;
    }
  
   
    #intro {
      text-align: center;
      padding: 20px;
    }
  
    
    #img-grid img {
      max-width: 100%;
      height: auto;
    }
  
    #plan h4 {
      margin: 10px 0;
    }
  
   
    #testimonials section {
      text-align: center;
      margin-bottom: 20px;
    }
  
   
    #about section {
      text-align: center;
      margin-bottom: 20px;
    }
  
    
    #contact form {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      margin-top: 20px;
    }
  
   
    #contact input,
    #contact select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  

    #mySubmit {
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
    }
  
    footer {
      text-align: center;
      padding: 20px;
      background-color: #333;
      color: #fff;
    }
  }